<section class="container-short center">
  <h1>Under Construction</h1>
  <article class="card l12 slide-down animate-duration-x1">
      <div class="card-container">
          <h3><i class="fa fa-bullseye"></i> We are sorry, the page or resource you are trying to access is currently under construction.</h3>
          <i class="fa fa-code fa-5x"></i>
          <div class="font-monospace">
              <p>
                  01010110 10110101 01010100 01101001<br>
                  01110101 11010101 01010001 10100101<br>
                  10101010 10001101 00101011 01011010<br>
                  11010110 10110101 01010100 01101001<br>
                  01010101 00110101 00011010 01000110<br>
                  01110101 11010101 01010001 10100101<br>
                  11010110 10110101 01010100 01101001
              </p>
              <p>
                  A209AC92FD20210BABC229222FF2922AFFFF2213<br>
                  BACF99F3B9ABC93B9FB93F393103234031305150<br>
                  18B381A983BC38BD98309128910231634CADF992<br>
                  A9AD09FD9A19029321AB00B04040010AF0F1BBBB<br>
              </p>
              <p>
                  GET /INGES/Curious.html HTTP/1.1<br>
                  Host: www.inges.tarksoftware.org
              </p>
              <p>
                  if (_requested.uri.onConstruction == false)<br>
                  &nbsp;&nbsp;&nbsp; Response.Write("Under Construction");
              </p>
          </div>
      </div>
  </article>
</section>