<section class="container-short">
    <h1>Welcome to W.I.T.P</h1>
    <h3>Where in The Planet - an international global educational system</h3>
    <article class="card l12 slide-down animate-duration-x1">
        <div class="card-container">
            <h2><i class="fa fa-bullseye"></i> Objective</h2>
            <p>This project objective is to <b>create an international global educational system platform</b>, in order to provide the basic most highly relevant knowledge to any person anywhere in this world, trying to reach enough level to make significant change on it's users' lives experiences.</p>
            <p>The <span class="h-bold">secondary objective</span> of this project is being a <span class="h-bold">personal creativity portifolio</span>, exercising my not so great languages skills and my professional developer techniques as well keeping myself excited and updated in this constant moving world.</p>
        </div>
    </article>
    <article class="card l12 slide-down animate-duration-x2">
        <div class="card-container">
            <h2><i class="fa fa-question-circle"></i> How to reach this objective?</h2>
            <p>Building studying flows based on best known learning techniques as possible as:</p>
            <ul class="tab-2x">
                <li>Languages teaching and multiculturalism encouraging (drastically widening your possibilities)<br /><div class="progressbar"><span>50% developed</span></div></li>
                <li>Effective habits lessons, based on character and valuable principles first<br /><div class="progressbar percent-0"><span>0% developed</span></div></li>
                <li>Task management and spaced repetition <br /><div class="progressbar percent-25"><span>25% developed</span></div></li>
                <li>Clear scopes and objectives, straight to the point<br /><div class="progressbar percent-25"><span>25% developed</span></div></li>
                <li>Smart community profiles system<br /><div class="progressbar percent-0"><span>0% developed</span></div></li>
            </ul>
        </div>
    </article>
    <article class="card l12 slide-down animate-duration-x2">
        <div class="card-container">
            <h2><i class="fa fa-question-circle"></i> How to use this system?</h2>
            <h3>1. Set your languages</h3>
            Select one of yours mastered languages and your learning language on topbar <button type="button" class="btn btn-small effect-waves" ng-click="$root.showLangHelp(true);">Show me</button>
            <h3>2. Browse using the menu</h3>
            Use the side menu to choose the topic of your interest <button type="button" class="btn btn-small effect-waves" ng-click="$root.showMenuHelp(true)">Show me</button>
        </div>
    </article>
    <br class="clear" />
    <article class="citation slide-down animate-duration-x3" style="border-left-color: #129880">
        <h3><i class="fa fa-cloud"></i> Technologies around on this system</h3>
        This system is based on a frontend application hosted on the cloud, an API connection manager hosted on another cloud and a Business API hosted that provides the database artifacts, users records and etc.
        <h4>Technical Requirements</h4>
        <ul class="tab-2x">
            <li>Browser compartible to <b>Speech Synthesis</b> (Text to Speech)</li>
            <li>It is currently full features supported on Google Chrome</li>
            <li>Futurely all "html6" browsers will support these full features which are present in new html specifications</li>
            <li>What might happens in other browsers? Mostly only the speech system won't work propertly, but <b>you can enjoy all other features with no problems</b></li>
        </ul>
    </article>
    <br class="clear" />
    <article id="legal" class="citation slide-down animate-duration-x4" style="border-left-color: #a4a919">
        <h3 style="color: #a4a919;"><i class="fa fa-exclamation-circle"></i> Legal and warning notes</h3>
        <p>Eventually the <b>data server</b> (which record your progress and account data for syncing on other devices) <b>will be off-line</b> because it's currently hosted on a machine which isn't everytime online. We hope as soon as we get enough capital, to provide a dedicated 24h server.</p>
        <p>This is an <b>alpha system</b>, so we cannot garante you the correct bahavior or functionality of our features. Also altough we are developing it following some security patterns, we cannot garante the security of information on this system, because we are just a few solo developers and this system doesn't belong to any brand or named company yet.</p>
        <p>You may not copy any whole part of the system, but you are allowed to copy a few Css styles and Javascript from the Github code.</p>
        <p>Some sounds contained on this application are under Attribution 3.0 License from the repository <a href="http://soundbible.com" target="_blank">http://soundbible.com</a></p>
    </article>
    <br class="clear" />
    <br class="clear" />
</section>
