.btn-small {
    font-size:13px;
    padding:5px 15px;
}
.personal-obj { font-size:13px; color:#999; transition:.5s; padding: 15px }
.personal-obj:hover { 
    color:#444; transform:scale(1.15, 1.15);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12),  0 18px 12px rgba(0, 0, 0, 0.25); 
    border-radius: 5px;
    background-color: white;
}
.personal-obj:hover .h-bold { font-weight:bold }
.progressbar {
    position:relative;
    display:inline-block;
    border-radius: 15px;
    border: 2px solid #fff;
    width:calc(100% - 120px);
    max-width: 350px;
    height: 20px;
    margin: 5px 0px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.8), 0px -1px 1px rgba(0,0,0,0.5), 0px 4px 5px rgba(0,0,0,0.25);
    background: linear-gradient(to right, rgb(217, 220, 0) 46%,rgb(252, 253, 185) 59%,rgba(255,253, 185,1) 100%);
}
.progressbar.percent-0 { background: linear-gradient(to right, rgba(255,0,0,1) 1%,rgb(255, 216, 216) 5%,rgb(255, 216, 216) 100%)}
.progressbar.percent-25 { background: linear-gradient(to right, rgb(234, 151, 0) 23%,rgb(249, 222, 188) 28%,rgba(249, 222, 188,1) 100%) }
.progressbar>span {
    position:absolute;
    top:-4px;
    width:110px;
    right:-120px;
    white-space:nowrap;
    font-weight:bold;
}