<section class="container-short">
  <h1>Word Albums</h1>
  <h3>Albums that contains contexted words and expressions</h3>
  <article class="card l12 slide-down animate-duration-x1" *ngFor="let album of _vocabularyService.getWordAlbums()">
      <div class="card-container relative">
        <h2><i class="fa" [ngClass]="album.icon"></i> {{album.name}}</h2>
        <p>Album description and a brief introduction of it's content</p>
        <span class="textmark singular" *ngFor="let deck of album.decks">{{deck.name}}</span>
        <div class="progress">
            <div class="progressbar"><span >0% mastered</span></div>
        </div>
        <div class="album-buttons">
            <i class="fa fa-edit" title="practice"></i>
            <a [routerLink]="getRouteName(album)">
                <i class="fa fa-arrow-circle-right" title="details"></i>
            </a>
        </div>
      </div>
  </article>
</section>
