<aside id="mySidenav" [ngClass]="{ 'sidenav' : true, 'open' : true }">$root.sidenavOpen
  <article class="sidenav-content scrollbar-gray">
      <section class="groups">
          <section *ngFor="let group of menuGroups" [ngClass]="{ 'menu-group' : true, 'closed' : group.closed }">
              <h1 (click)="group.closed = !group.closed">
                  {{group.name[languageService.from.id]}}
                  <i class="fa fa-chevron-up" [ngClass]="{'closed':group.closed}"></i>
              </h1>
              <div class="itens" *ngIf="!group.closed" [@slideDownThenUp]="'in'">
                  <a *ngFor="let item of group.items" [routerLink]="item.href" routerLinkActive="active" [ngClass]="{'small':true, 'active': false}">
                      <i class="fa" [ngClass]="item.icon"></i> {{item.name[languageService.from.id]}}
                  </a>
              </div>
          </section>
      </section>
  </article>
</aside>
<section class="sidenav-bg show-only-on-mobile" ng-show="$root.sidenavOpen" ng-click="$root.toggleSivenav()"></section>
<div class="menu-help" [hidden]="true" ng-show="$root.menuHelp === true" ng-click="$root.hideMenuHelp(true)">
  <i class="fa fa-arrow-left"></i>
  <span>Use side menu to choose the lesson of your interest</span>
</div>






