<section class="page-header">
  <div class="topnav-button-menu show-only-on-mobile">
    <a>&#9776;</a>
  </div>
  <span class="hover-shiny">W.I.T.P.
    <span class="hide-on-mobile" style="color:#dadada"> | Languages</span>
    <span class="nav-subtitle">Where in The Planet <i class="fa fa-globe"></i></span>
  </span>
  <div class="top-nav-item top-nav-flags top-nav-lang">
    <img  alt="Your language" title="Your language">
    <span class="flag-label hide-on-mobile">From</span>
    <div class="card pop-lang-from grow-down-left">
        <div class="gb_rb"></div>
        <div class="gb_qb"></div>
        <h5>Your Language</h5>
        <div class="pop-lang-flags effect-waves waves-blue">
            <img width="20" />
            <span></span>
        </div>
    </div>
  </div>
  <div class="top-nav-item top-nav-flags">
    <i class="fa fa-retweet cursor-pointer" title="Invert languages"></i>
    <div [hidden]="true" class="lang-help">
        <i class="fa fa-arrow-up"></i>
        <span>Choose your language settings here</span>
    </div>
  </div>
  <div class="top-nav-item top-nav-flags top-nav-lang">
    <img alt="Learning language" title="Learning language">
    <span class="flag-label hide-on-mobile">Learn</span>
    <div class="card pop-lang-from grow-down-left">
        <div class="gb_rb"></div>
        <div class="gb_qb"></div>
        <h5>Learning</h5>
        <div class="pop-lang-flags effect-waves waves-blue">
            <img width="20" />
            <span></span>
        </div>
    </div>
  </div>
  <div class="topnav-right">
    <div class="top-nav-item">
      <i class="fa cursor-pointer hover-shiny fa-microphone" ng-class="{'fa-microphone':!$root.mute, 'fa-microphone-slash':$root.mute}" ng-click="$root.toggleMute()"></i>
    </div>
    <div class="top-nav-separator hide-on-mobile">
        &nbsp;
    </div>
    <div class="top-nav-item hide-on-mobile">
        <div>
            <div>You aren't authenticated</div>
            <div>
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account/SignIn">Sign In</a>
                <span class="text-gray">or</span>
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account/SignUp">Sign Up</a>
            </div>
        </div>
        <div [hidden]="true">
            <div></div>
            <div class="right">
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account">Manage</a>
                <span class="text-gray">|</span>
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account/SignOut">Sign Out</a>
            </div>
        </div>
    </div>
    <div class="top-nav-item"  click-anywhere-but-here="$root.showMobUser = false" is-active="$root.showMobUser">
        <i class="fa fa-user-circle cursor-pointer hover-shiny"></i>
        <div [hidden]="true" class="card pop-mob-user grow-down-right">
            <div class="gb_rb"></div>
            <div class="gb_qb"></div>
            <article>
                You aren't authenticated, you may sign up in order to:
                <ul>
                    <li>Get full features access</li>
                    <li>Record your progress</li>
                </ul>
            </article>
            <a class="btn effect-waves" href="#!Account/SignIn">Sign In</a>
            <a class="btn effect-waves" href="#!Account/SignUp">Sign Up</a>
        </div>
    </div>
    <div class="top-nav-separator hide-on-mobile">
        &nbsp;
    </div>
    <div class="top-nav-item hide-on-mobile">
        <div [hidden]="true">
            <div></div>
            <div class="text-gray">
                <a class="text-bold text-white nounderline hover-shiny" href="#!Construction">Server</a>
                <span>|  ms</span>
            </div>
        </div>
        <div>
            <div class="bold text-red">Backend off-line</div>
            <div class="text-gray">
                <a class="text-bold text-white nounderline hover-shiny" href="#!Construction">Reconnect</a>
            </div>
        </div>
    </div>
    <div class="top-nav-item" click-anywhere-but-here="$root.showMobServer = false" is-active="$root.showMobServer">
        <i class="fa fa-globe cursor-pointer hover-shiny"></i>
        <div [hidden]="true" class="card pop-mob-server grow-down-right">
            <div class="gb_rb"></div>
            <div class="gb_qb"></div>
            <article>
                <div>
                    <div>Server Address: </div>
                    <div>
                        <a class="softlink bold" href="#!Construction">Server</a>
                        <span>| Latency  ms</span>
                    </div>
                </div>
                <div>
                    <div class="bold text-red">Backend off-line or unacessible</div>
                    <div class="text-gray">
                        <a class="text-bold nounderline hover-shiny" href="#!Construction">Reconnect</a>
                    </div>
                </div>
            </article>
            <div class="center">
                <button type="button" class="btn effect-waves">Close It</button>
            </div>
        </div>
    </div>
  </div> 
</section>
<div style="margin-top:70px">
  <input #name type="text" [(value)]="language.name" (keyup)="ss.changeName(name.value)">
</div>
{{language.name}}